@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #003A7A;
  --secondary-color: #00822E;
  --secondary-color-dark: #005A1F;
  --tertiary-color: #ADAD98;
  --white: #EEEEEE;
  --black: #000000;

  --font-family: 'Alexandria', sans-serif;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Myriad Pro', sans-serif;
  background: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}