@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.required{
  color: red
}