:root { 
  --primary-color: #003A7A;
  --primary-color-dark: #002855;
  --secondary-color: #00822E;
  --secondary-color-dark: #005A1F;
  --tertiary-color: #ADAD98;
  --tertiary-color-dark: #7A7A66;
  --white: #EEEEEE;
  --black: #000000;
}